In [1]:
import pandas as pd

## Sustainable Lifestyle Rating Dataset

In [2]:
SUST_LIFESTYLE_DF_PATH = "data/lifestyle_sustainability_data.csv"

In [3]:
df_sust_lifestyle = pd.read_csv(SUST_LIFESTYLE_DF_PATH)
print(df_sust_lifestyle.shape)
print(df_sust_lifestyle.columns)
print(df_sust_lifestyle.dtypes)
df_sust_lifestyle.head()

(499, 20)
Index(['ParticipantID', 'Age', 'Location', 'DietType', 'LocalFoodFrequency',
       'TransportationMode', 'EnergySource', 'HomeType', 'HomeSize',
       'ClothingFrequency', 'SustainableBrands', 'EnvironmentalAwareness',
       'CommunityInvolvement', 'MonthlyElectricityConsumption',
       'MonthlyWaterConsumption', 'Gender', 'UsingPlasticProducts',
       'DisposalMethods', 'PhysicalActivities', 'Rating'],
      dtype='object')
ParticipantID                     int64
Age                               int64
Location                         object
DietType                         object
LocalFoodFrequency               object
TransportationMode               object
EnergySource                     object
HomeType                         object
HomeSize                          int64
ClothingFrequency                object
SustainableBrands                  bool
EnvironmentalAwareness            int64
CommunityInvolvement             object
MonthlyElectricityConsumption     int64
MonthlyWaterConsumption           int64
Gender                           object
UsingPlasticProducts             object
DisposalMethods                  object
PhysicalActivities               object
Rating                            int64
dtype: object

,ParticipantID,Age,Location,DietType,LocalFoodFrequency,TransportationMode,EnergySource,HomeType,HomeSize,ClothingFrequency,SustainableBrands,EnvironmentalAwareness,CommunityInvolvement,MonthlyElectricityConsumption,MonthlyWaterConsumption,Gender,UsingPlasticProducts,DisposalMethods,PhysicalActivities,Rating
0,1,35,Urban,Mostly Plant-Based,Often,Bike,Renewable,Apartment,800,Rarely,True,5,High,100,1500,Female,Rarely,Composting,High,5
1,2,28,Suburban,Balanced,Sometimes,Public Transit,Mixed,House,1500,Sometimes,True,4,Moderate,250,3000,Male,Sometimes,Recycling,Moderate,4
2,3,65,Rural,Mostly Animal-Based,Rarely,Car,Non-Renewable,House,2500,Often,False,2,Low,400,4500,Male,Often,Landfill,Low,1
3,4,42,Urban,Mostly Plant-Based,Often,Walk,Renewable,Apartment,950,Sometimes,True,4,Moderate,150,2000,Female,Rarely,Recycling,High,5
4,5,31,Suburban,Balanced,Sometimes,Public Transit,Mixed,House,1800,Often,True,3,Low,300,3500,Non-Binary,Sometimes,Combination,Moderate,3

In [4]:
df_sust_lifestyle.isna().sum()

ParticipantID                      0
Age                                0
Location                           0
DietType                           0
LocalFoodFrequency                 0
TransportationMode                 0
EnergySource                       0
HomeType                           0
HomeSize                           0
ClothingFrequency                  0
SustainableBrands                  0
EnvironmentalAwareness             0
CommunityInvolvement             118
MonthlyElectricityConsumption      0
MonthlyWaterConsumption            0
Gender                             0
UsingPlasticProducts               0
DisposalMethods                    0
PhysicalActivities               108
Rating                             0
dtype: int64

In [5]:
df_sust_lifestyle.groupby("Rating").size()

Rating
1     97
2     34
3    101
4     91
5    176
dtype: int64

In [27]:
df_sust_lifestyle["ParticipantID"].nunique()

499

In [6]:
non_numeric_cols = df_sust_lifestyle.select_dtypes(exclude="number").columns
non_numeric_cols

Index(['Location', 'DietType', 'LocalFoodFrequency', 'TransportationMode',
       'EnergySource', 'HomeType', 'ClothingFrequency', 'SustainableBrands',
       'CommunityInvolvement', 'Gender', 'UsingPlasticProducts',
       'DisposalMethods', 'PhysicalActivities'],
      dtype='object')

In [7]:
for non_numeric_col in non_numeric_cols:
    total_classes = df_sust_lifestyle[non_numeric_col].nunique()
    classes = df_sust_lifestyle[non_numeric_col].unique()
    print(f"{non_numeric_col} | Classes: {total_classes} -> {classes}")

Location | Classes: 3 -> ['Urban' 'Suburban' 'Rural']
DietType | Classes: 3 -> ['Mostly Plant-Based' 'Balanced' 'Mostly Animal-Based']
LocalFoodFrequency | Classes: 4 -> ['Often' 'Sometimes' 'Rarely' 'Always']
TransportationMode | Classes: 4 -> ['Bike' 'Public Transit' 'Car' 'Walk']
EnergySource | Classes: 3 -> ['Renewable' 'Mixed' 'Non-Renewable']
HomeType | Classes: 3 -> ['Apartment' 'House' 'Other']
ClothingFrequency | Classes: 4 -> ['Rarely' 'Sometimes' 'Often' 'Always']
SustainableBrands | Classes: 2 -> [ True False]
CommunityInvolvement | Classes: 3 -> ['High' 'Moderate' 'Low' nan]
Gender | Classes: 4 -> ['Female' 'Male' 'Non-Binary' 'Prefer not to say']
UsingPlasticProducts | Classes: 4 -> ['Rarely' 'Sometimes' 'Often' 'Never']
DisposalMethods | Classes: 4 -> ['Composting' 'Recycling' 'Landfill' 'Combination']
PhysicalActivities | Classes: 3 -> ['High' 'Moderate' 'Low' nan]

---

## Healthcare Data

### Chronic Disease Management Patient Data

In [9]:
CHRONIC_DISEASE_DF_PATH = "data/chronic_disease_management_data_501.csv"

In [10]:
df_chronic_disease = pd.read_csv(CHRONIC_DISEASE_DF_PATH)
print(df_chronic_disease.shape)
print(df_chronic_disease.columns)
print(df_chronic_disease.dtypes)
df_chronic_disease.head()

(501, 16)
Index(['patient_id', 'age', 'gender', 'chronic_disease', 'diagnosis_date',
       'current_medications', 'last_checkup_date', 'blood_pressure',
       'blood_sugar_levels', 'lifestyle_interventions', 'education_level',
       'preventive_measures', 'quality_of_life_score', 'follow_up_schedule',
       'emp_id', 'healthcare_provider'],
      dtype='object')
patient_id                 object
age                         int64
gender                     object
chronic_disease            object
diagnosis_date             object
current_medications        object
last_checkup_date          object
blood_pressure             object
blood_sugar_levels         object
lifestyle_interventions    object
education_level            object
preventive_measures        object
quality_of_life_score       int64
follow_up_schedule         object
emp_id                     object
healthcare_provider        object
dtype: object

,patient_id,age,gender,chronic_disease,diagnosis_date,current_medications,last_checkup_date,blood_pressure,blood_sugar_levels,lifestyle_interventions,education_level,preventive_measures,quality_of_life_score,follow_up_schedule,emp_id,healthcare_provider
0,P000,36,F,Traumatic Stress Disorder,14-10-2022,"Metformin, Insulin",29-06-2024,121/80,NaN,NaN,Low,NaN,57,23-05-2024,HR8270,Dr. Lisa Parker
1,P001,39,M,Chronic Respiratory Disease,25-11-2020,Inhalers,12-06-2024,130/74,160 mg/dL,Diet,High,Routine Checkups,67,17-10-2024,TECH1860,Richard Stanley
2,P002,57,M,Diabetes,23-03-2024,"Metformin, Insulin",23-03-2024,124/77,NaN,Diet,High,Biannual Checkup,82,20-05-2024,TECH6390,Stanley Bailey PhD
3,P003,77,M,Osteoarthritis,18-06-2020,Beta-blockers,13-04-2024,139/75,NaN,NaN,High,NaN,79,20-12-2024,SAL6191,Lauren Bailey
4,P004,65,F,Multiple Sclerosis,23-05-2021,Antidepressants,13-04-2024,124/88,127 mg/dL,"Diet, Exercise",Low,Annual Screening,81,25-08-2024,HR6734,Robert Nelson

In [11]:
df_chronic_disease.isna().sum()

patient_id                   0
age                          0
gender                       0
chronic_disease              1
diagnosis_date               0
current_medications          0
last_checkup_date            0
blood_pressure               0
blood_sugar_levels         255
lifestyle_interventions    121
education_level              0
preventive_measures        129
quality_of_life_score        0
follow_up_schedule           0
emp_id                       1
healthcare_provider          0
dtype: int64

In [21]:
columns_to_verify_unique = ["patient_id", "chronic_disease", "lifestyle_interventions", "preventive_measures", "quality_of_life_score"]

In [23]:
for column in columns_to_verify_unique:
    n_unique = df_chronic_disease[column].nunique()
    unique = df_chronic_disease[column].unique()
    to_print = f"{column} | Classes {n_unique}"
    if n_unique < 20:
        to_print = f"{to_print} -> {unique}"
    else:
        to_print = f"{to_print} -> {unique[:10]} ..."
    print(to_print, "\n")

patient_id | Classes 501 -> ['P000' 'P001' 'P002' 'P003' 'P004' 'P005' 'P006' 'P007' 'P008' 'P009'] ...

chronic_disease | Classes 13 -> ['Traumatic Stress Disorder' 'Chronic Respiratory Disease' 'Diabetes'
 'Osteoarthritis' 'Multiple Sclerosis' 'Asthma' 'Fibromyalgia'
 "Parkinson's Disease" 'Hypertension' 'Chronic Fatigue Syndrome'
 'Chronic Pain Syndrome' 'Cancer' 'Heart Disease' nan]

lifestyle_interventions | Classes 3 -> [nan 'Diet' 'Diet, Exercise' 'Exercise']

preventive_measures | Classes 3 -> [nan 'Routine Checkups' 'Biannual Checkup' 'Annual Screening']

quality_of_life_score | Classes 40 -> [57 67 82 79 81 65 61 68 88 72] ...

In [26]:
df_chronic_disease["quality_of_life_score"].describe()

count    501.000000
mean      69.968064
std       11.577520
min       50.000000
25%       60.000000
50%       71.000000
75%       80.000000
max       89.000000
Name: quality_of_life_score, dtype: float64

In [24]:
interest_columns_df_chronic_disease = ["chronic_disease", "current_medications", "blood_sugar_levels", "lifestyle_interventions", 
                                       "education_level", "preventive_measures", "quality_of_life_score"]

In [25]:
df_chronic_disease[interest_columns_df_chronic_disease]

,chronic_disease,current_medications,blood_sugar_levels,lifestyle_interventions,education_level,preventive_measures,quality_of_life_score
0,Traumatic Stress Disorder,"Metformin, Insulin",NaN,NaN,Low,NaN,57
1,Chronic Respiratory Disease,Inhalers,160 mg/dL,Diet,High,Routine Checkups,67
2,Diabetes,"Metformin, Insulin",NaN,Diet,High,Biannual Checkup,82
3,Osteoarthritis,Beta-blockers,NaN,NaN,High,NaN,79
4,Multiple Sclerosis,Antidepressants,127 mg/dL,"Diet, Exercise",Low,Annual Screening,81
...,...,...,...,...,...,...,...
496,Chronic Pain Syndrome,Beta-blockers,178 mg/dL,"Diet, Exercise",Low,NaN,72
497,Multiple Sclerosis,ACE inhibitors,NaN,Diet,Low,Biannual Checkup,60
498,Multiple Sclerosis,"Metformin, Insulin",NaN,Exercise,High,Routine Checkups,62
499,Hypertension,Antidepressants,NaN,Diet,High,Annual Screening,53
500,NaN,ACE inhibitors,NaN,NaN,Medium,NaN,72